################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/SendEmail/__pycache__
/Data/__pycache__
/ForecastingModel/__pycache__
/GetRawData/__pycache__
/Logging/__pycache__
